.checkout-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .checkout-title {
    text-align: center;
    font-family: Didot;
    color: #004878;
    margin-bottom: 20px;
  }
  
  .checkout-cart {
    margin-bottom: 20px;
  }
  
  .checkout-cart ul {
    list-style: none;
    padding: 0;
  }
  
  .checkout-cart li {
    margin-bottom: 10px;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .checkout-section {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-info, .shipping-info {
    flex: 1;
    margin: 10px;
  }
  
  .payment-info div, .shipping-info div {
    margin-bottom: 1em;
  }
  
  .payment-info label, .shipping-info label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .payment-info input, .shipping-info input {
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
  }
  
  .checkout-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }